body {
    background:url('images/PlanetExpress.jpg') no-repeat center center fixed;
    background-size: cover;
}

#left_section {
margin-top:5px;
width: 40%;
}

#right_section:{
width: 10%;
}

.opisanie {
font-style:oblique;
font-size:18px;
font-weight:bold;
color: #e71570;
}

.imag{
	margin-top: 5px;
}
